*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header {
    width: 1170px;
    margin: 10px;
    height: 80px;
    background-color: #fff;
    padding: 25px 0;
    font-family: 'Lora', serif;
}
.header .logo{
    float: left;
    width: 20%;
}
.header .menu{
    float: left;
    width: 50%;
    margin: 0px 71px;
}

.menu a{
    text-decoration: none;
    float: left;
    padding:10px 10px 10px ;
    color:#747474;
    font-weight: 200px;
    font-family: 'Lora', serif;
}
.menu a:hover{
    color: red;
}
.section1 {
    width: 1170px;
    margin: 10px;
    height: 500px;
    background-color: lightgrey;
    font-family: 'Lora', serif;
}
.slider {
    width: 1170px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
}
.section2 {
    width: 1170px;
    margin-right: 10px;
    margin-left:10px;
    margin-top: 30px ;
    height: 60px;
    float: left;
    border-radius: 10px 10px 10px 10px;
    background-color: lightgrey;
    font-family: 'Lora', serif;
}
.s2-p1 {
    width: 495px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
}
.s2-p1 :hover {
    color: lightgray;
}
.s2-p2 {
    width: 260px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
}
.s2-p3 {
    width: 260px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
}
.s2-p4 {
    width: 127px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
    background-color: #73f0ff;
}

.section3 {
    width: 1170px;
    margin-right: 10px;
    margin-left:10px;
    margin-top: 50px ;
    height: 300px;
    float: left;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    font-family: 'Lora', serif;
}
.s3-p1 {
    width: 370px;
    height: 200px;
    margin: 10px;
    border: 1px solid lightgray;
    float: left;
}
.uudai {
    width: 368px;
    height: 250px;
    float: left;
}
.uudai_text {
    font-size: 14px;
    width: 368px;
    padding: 5px;
    height: 200px;
    font-family: 'Lora', serif;
    float: left;
}
#nhanngay {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-left: 120px;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 14px;
    background-color: #ffcf36;
    border-radius: 20px 20px 20px 20px;
    color: #ffeaad;
}
.section4 {
    width: 1170px;
    margin-right: 10px;
    margin-left:10px;
    margin-top: 30px ;
    height: 500px;
    float: left;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    font-family: 'Lora', serif;
}
.section5 {
    width: 1170px;
    margin-right: 10px;
    margin-left:10px;
    margin-top: 50px ;
    margin-bottom: 50px;
    height: 440px;
    float: left;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    font-family: 'Lora', serif;

}
.s5-1 {
    width: 400px;
    margin: 15px;
    border: 1px solid lightgray;
    float: left;
}
.s5-2 {
    width: 600px;
    height: 400px;
    margin: 15px;
    float: left;
}
.s5-2-text {
    width: 700px;
    height: 250px;
    margin: 15px;
    border: 1px solid #fbfbfb;
    float: left;
}
.s5-2-text1 {
    width: 600px;
    height: 130px;
    margin: 15px;
    float: left;

}
#box-danhgia {
    font-family: 'Lora', serif;
    float: left;
    color: white;
    width: 150px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    background-color: #ffcf36;
    border-radius: 10px 10px 10px 10px;
}
.s5-2-text1 #danhgia {
    font-family: 'Lora', serif;
    float: left;
    color: orangered;
    width: 600px;
    height: 80px;
    border-radius: 10px 10px 10px 10px;

}
#button-gt {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 16px;
    background-color:  #73f0ff;

}
.s4-p1 {
    width: 250px;
    height: 350px;
    margin: 21px;
    border: 1px solid lightgray;
    float: left;
}
#spmoi {
    width: 248px;
    height: 250px;
    float: left;
}

#spmoi_text {
    font-size: 14px;
    width: 200px;
    padding: 5px;
    height: 60px;
    font-family: 'Lora', serif;
    float: left;
}
.rate {
    float: left;
    width: 245px;
    height: 30px;

}
.rate p {
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-size: 12px;
}
#rate {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffcf36;
    float: left;

}
#button_spmoi {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 16px;
    background-color: #73f0ff;

}

.footer{
    width: 100%;
    height: 418px;
    background: #f2f2f2;
    line-height: 30px;
    padding-top: 20px;
}
.container2{
    background-color: #f2f2f2;
}
.section-footer{
    float: left;
    width: 100%;
    height: 60px;
    margin: 137px 0px;
}
.footerr{
    margin: -6px -6%;
}
#div1{
    display: inline-block;
    width: 32%;
    float: left;
}
#div2{
    display: inline-block;
    margin: 0px 100px;
}
#div3{
    display: inline-block;
    width: 23%;
    float: right;
}
#div2-1{
    display: inline-block;
    float: left;
    margin-top: 20px;
}
#div2-2{
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
}
.footer a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.footer a:hover{
    text-decoration: underline;
}
.footer select{
    float: right;
    height: 40px;
    width: 100%;
    padding: 5px;
    margin: 5px 0px 10px 0px;
    border-style: none;
}
.footer span{
    font-size: large;
}
.footer p{
    font-size: 13px;
    margin-top: 20px;
}
.footer img{
    display: inline-block;
    width: 55px;
    height: 27px;
    border-radius: 3px;
    margin: 2px;
}
#mp{
    font-size: 12px;
    margin: 0px;
}
.footer form{
    margin-top: 20px;
}
#red{
    color: red;
}
#pt1{
    font-size: 33px;
    color:red;
}
#pt:hover{
    text-decoration: none;
    cursor: pointer;
}
.footer h5{
    margin: 0px;
}
#kvuc{
    font-size: 13px;
}
#diachi{
    font-size: 13px;
}
#dangky1{
    width: 98%;
    height: 40px;
    border-style: none;
    margin: 5px 0px;
    padding-left:5px;
}
#dangky2{
    text-align: center;
    width: 165px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    background-color: red;
    border:none;
}
#design{
    text-align: center;
    margin: 20px;
    width: 100%;
    font-size: 13px;
}
#logoUTC{
    width: 70px;
    height: 70px;
    vertical-align: middle;
    margin:0px 20px;
}
@media only screen and (max-width:600px){
    #div1, #div2, #div3{
        width:90%;
    }
    #div2-2{
        margin-left:0;
        margin-bottom: 10px;
    }
    .footer{
        height:1320px;
    }
    #logoUTC{
        width: 30px;
        height: 30px;
        margin:0;
    }
    #design{
        text-align: left;
        font-size: 0.6em;
    }
    .option option{
        font-size: 10px;
    }
    #dangky2{
        width: 255px;
    }
}